.blog-dugme{
    background-color:   red;
    color: white;
    border: 3px solid red;
    letter-spacing: 1px;
    padding: 8px;
    transition: 0.3s ease-in;
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.blog-dugme:hover{
    background-color:   white;
    color: black;
    border: 2px solid red;
    text-decoration: none;
}
.karta-blog{
  background-color: white;
  color: black;
  transition: 0.3s ease-in;

  height: 400px;
}
.karta-blog p{
  margin-top: 25px;
  margin-bottom: 45px;
}
.karta-blog .post-slika{
  overflow: hidden;
}
.karta-blog img{
  filter: grayscale(0);
  transition: 0.3s ease-in;
  transform: scale(1,1);
}
.karta-blog:hover{
  background-color: gray;
  color: white;
}
.karta-blog:hover img{
  transform: scale(1.1,1.1);
  filter: grayscale(1);
}